.bg-react{
    background-color: #6D52F7;
}

.bg-javascript{
    background-color: #ceb200;
}

.bg-typescript{
    background-color: #0069ff;
}

.bg-tailwild{
    background-color: #00bd6e;
}

.bg-css{
    background-color: #00a8bb;
}

