/*
{
.banner-job{
    background: linear-gradient(45deg,#4d9aff,#3bca66,rgb(255, 234, 164));
}
*/

.bg-info {
    background: linear-gradient(45deg,#4d9aff,#3bca66,rgb(255, 234, 164));
}

.hover\:bg-secondary:hover {
    background: linear-gradient(45deg,#ff4de1,#ff4d82,#ffe44b);
}


.flash-job{
    animation-duration: 4s;
}